<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixafy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="..\css\index.css">

</head>
<body>
    
    <div class="jumbotron">
        <h1 class="display-4">Mixafy</h1>
        <p class="lead">- an application that takes specific genres from Spotify and create randomize mix genre playlists</p>
    </div>
    
    <section id="main" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>Playlist Generator<span>:</span></h1>
                    <h2>Select a Genre for a generated playlist</h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-store-line"></i>
                            <h3><a href="playlist.html">90'S POP</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line"></i>
                            <h3><a href="playlist.html">JAPANESE</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-calendar-todo-line"></i>
                            <h3><a href="playlist.html">POP PUNK</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-paint-brush-line"></i>
                            <h3><a href="playlist.html">Prog</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="button">
        <span>
            <a class="btn btn-outline-info" href="songs.html" role="button" type="submit" value="Submit">MIX ALL</a>
            <a class="btn btn-outline-info" href="songs.html" role="button">Full Song List</a>
        </span>
    </div>
    <script src="..\js\script.js"></script>
</body>
    
</html>